#canvas {
  float: left; 
  width:50%;
  height:32rem;
}
#text {
  float: right; 
  width:50%;
  height:32rem;
}
#text textarea{
	height:22rem;
}
.can{
	width:90%;
}
.can .select{
  margin: 0 40px 0 20px;
}
.can .run{
  margin-bottom: 0;
}
.cropArea {
  background: #E4E4E4;
  min-height: 230px;
  height: auto;
  margin: 15px;
  margin-right: 0;
}